<% layout ('layouts/boilerplate')%>

<section>
	<div style="background-image: url('https://res.cloudinary.com/dg2ynubvs/image/upload/v1675181502/pic2edited_k5r0gf.jpg');  background-size: cover;  height:700px; padding-top:80px;" class=" text-black py-20">
		<div class="container mx-auto flex flex-col md:flex-row my-6 md:my-21">
            <style>
                div{
                    font-style: inherit;
                    background-size: auto;
                }
            </style>
<div>

 <div class="lightbox">
        <div class="row">
         
          

    <script src="https://cdn03.jotfor.ms/s/umd/8a3b649d7ef/for-sign-form-integration.js?v=3.3.38868" type="text/javascript" defer></script>
<script type="text/javascript">	JotForm.newDefaultTheme = false;

	

   </script>
<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/defaultV2.css?v=e1043dd
"/>
<link type="text/css" rel="stylesheet" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F481492527%2Fphoto%2Fleafy-green-vegetables-isolated.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DaZXg1q24VVX8zhciACz50YwNE63D_SPVZ_-5o3OJ5oQ%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fgreen-vegetables&tbnid=rIwYNtHgi0_vFM&vet=10CAgQxiAoC2oXChMI-IO61sjk_AIVAAAAAB0AAAAAEBY..i&docid=pG4OjRIyhfE8IM&w=612&h=408&itg=1&q=green%20vegetables%20images&ved=0CAgQxiAoC2oXChMI-IO61sjk_AIVAAAAAB0AAAAAEBY"/>

<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/themes/CSS/54ab0a7825d790e9458b4567.css?themeRevisionID=63c96c54306363098719afb6"/>
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_styles.css?3.3.38868" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.38868" />
 <link type="text/css" rel="stylesheet" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F481492527%2Fphoto%2Fleafy-green-vegetables-isolated.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DaZXg1q24VVX8zhciACz50YwNE63D_SPVZ_-5o3OJ5oQ%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fgreen-vegetables&tbnid=rIwYNtHgi0_vFM&vet=10CAgQxiAoC2oXChMI-IO61sjk_AIVAAAAAB0AAAAAEBY..i&docid=pG4OjRIyhfE8IM&w=612&h=408&itg=1&q=green%20vegetables%20images&ved=0CAgQxiAoC2oXChMI-IO61sjk_AIVAAAAAB0AAAAAEBY"/>

  <div role="main" class="form-all">
    <link type="text/css" rel="stylesheet" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F481492527%2Fphoto%2Fleafy-green-vegetables-isolated.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DaZXg1q24VVX8zhciACz50YwNE63D_SPVZ_-5o3OJ5oQ%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fgreen-vegetables&tbnid=rIwYNtHgi0_vFM&vet=10CAgQxiAoC2oXChMI-IO61sjk_AIVAAAAAB0AAAAAEBY..i&docid=pG4OjRIyhfE8IM&w=612&h=408&itg=1&q=green%20vegetables%20images&ved=0CAgQxiAoC2oXChMI-IO61sjk_AIVAAAAAB0AAAAAEBY"/>

    <link type="text/css" rel="stylesheet" media="all" href="https://cdn.jotfor.ms/wizards/languageWizard/custom-dropdown/css/lang-dd.css?3.3.38868" />
    <div class="cont"><input type="text" id="input_language" name="input_language" style="display:none" />
      <div class="language-dd" id="langDd" style="display:none">
        <div class="dd-placeholder lang-emp">Language</div>
        <ul class="lang-list dn" id="langList">
          <li data-lang="en" class="en">English (US)</li>
        </ul>
      </div>
    </div>
     <style>
      .form-all:before
      {
        background: pink;
      }

    </style>
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div style="display:table;width:100%">
          <div class="form-header-group hasImage header-large" data-imagealign="Left">

            <div class="header-text httac htvam">
              <h1 id="header_1" class="form-header" data-component="header">Put Leave </h1>
            </div>
          </div>
        </div>
      </li>
      <form action="/putleave" method="POST" class="validated-form" novalidate>
        <div class="mb-3">

                <h2>
                    Enter your card number </h2>
                    <style>
                      h2{
                        color:white;
                      }
                    </style>

            </label>
            <input class="form-control" type="text" id="card" name="card" required>
        <div class="mb-3">
            <!--- <label class="form-label" for="leaveStartDate">Leave From:</label> -->
             
             <h2>
                Leaves From:
              </h2>
            <input class="form-control" type="date" background-font="pink" id="leaveStartDate" texttype="date"  name="leaveStartDate" required background="pink" placeholder="start date"
          >
          <style>
            div{
              color: black;
            }
          </style>
        </div>

        <div class="mb-3">
            <!-- <label class="form-label" for="leaveEndDate"> </label> -->
            
              <h2>
                Leaves Upto:
              </h2>
            <input class="form-control" type="date" id="leaveEndDate" name="leaveEndDate" required>
          </div>

        <div>
                    <button class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">

                    <span>Put Leaves </span>
                </button>
        </div>

    </form>


               </div>

    <!-- <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">

        <div class="flex items-center space-x-4 mt-2">
            <a href="/logout">
            <button class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">

                <span>Logout</span>
            </button>
        </a>
        </div>
    </div> -->
</div>
</div>


</div>
</div>
</div>
</section>














